html {
  font-size: 16px;
  line-height: 32px;
  --text-color: #333;
  --primary-color: #01579B;
  --accent-color: #4CAF50;
  --error-color: #C62828;
  --secondary-text-color: #616161;
  --anypoint-button-font-size: 1rem;
}

body {
  color: var(--text-color);
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1680px; */
  overflow-x: hidden;
  min-width: 320px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@media (min-width: 2000px) {
  html {
    font-size: 22px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --primary-color: #FFCC80;
    --text-color: #fff;
    --secondary-text-color: #F5F5F5;
    --primary-background-color: #424242;
  }

  body {
    background-color: var(--primary-background-color);
    color: var(--text-color);
  }
}

@media (prefers-color-scheme: light) {

}
